downloaded_files/
Preferences/
recorder/
downloaded_files/
__pycache__/
.pytest_cache/
.venv/
latest_logs/
downloaded_files/
.vscode/
saved_cookies/

downloaded_files/
latest_logs/

__pycache__/
*.pyc
*.pyo
*.pyd

src/__pycache__/chatbot.cpython-310.pyc


.DS_Store

:q