src/downloaded_files/
src/Preferences/
src/recorder
src/downloaded_files
src/__pycache__
src/.pytest_cache
src/.venv
latest_logs
downloaded_files
/.vscode


downloaded_files/
latest_logs/

´__pycache__/
*.pyc
*.pyo
*.pyd



.DS_Store

:q
